name: Check

on:
  pull_request

jobs:
  check:
    runs-on: macOS-latest

    steps:
      - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b

      - uses: actions/setup-java@c3ac5dd0ed8db40fedb61c32fbe677e6b355e94c
        with:
          distribution: 'zulu'
          java-version: 11

      - uses: gradle/wrapper-validation-action@55e685c48d84285a5b0418cd094606e199cca3b6

      - name: Setup Gradle
        uses: gradle/gradle-build-action@3fbe033aaae657f011f88f29be9e65ed26bd29ef
        with:
          gradle-version: wrapper

      - name: Run checks
        run: ./gradlew check detektJvmMain detektJsMain detektMetadataMain

  checkWindows:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b

      - uses: actions/setup-java@c3ac5dd0ed8db40fedb61c32fbe677e6b355e94c
        with:
          distribution: 'zulu'
          java-version: 11

      - uses: gradle/wrapper-validation-action@55e685c48d84285a5b0418cd094606e199cca3b6

      - name: Setup Gradle
        uses: gradle/gradle-build-action@3fbe033aaae657f011f88f29be9e65ed26bd29ef
        with:
          gradle-version: wrapper

      - name: Run checks
        run: ./gradlew mingwX64Test detektMingwX64Main detektMingwX86Main

env:
  GRADLE_OPTS: -Dorg.gradle.daemon=false -Dorg.gradle.configureondemand=false -Dkotlin.incremental=false -Dorg.gradle.jvmargs="-Xmx4g -Xms128m -XX:MaxPermSize=4096m -XX:+HeapDumpOnOutOfMemoryError -Dfile.encoding=UTF-8 -XX:MaxMetaspaceSize=1024m"
